<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sortie de planète magnifiée</title>
    <link rel="stylesheet" href="/TD acessibilité 2eme/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar bg-dark">
        <div class="container-md">
            <a class="navbar-brand" href="/TD acessibilité 2eme/index.html">
                <img src="/TD acessibilité 2eme/assets/logo_spirit.webp" alt="Logo Spirit of Rock" class="nav-img"
                    width="90" height="90">
            </a>
            <div class="d-flex gap-3 navbar">
                <a class="nav-link active text-white nav-item" aria-current="page"
                    href="/TD acessibilité 2eme/index.html">Accueil</a>
                <a class="nav-link text-white nav-item" href="/views/information.html">Informations</a>
                <a class="nav-link text-white nav-item" href="#">Forums</a>
                <a href="">
                    <img src="/TD acessibilité 2eme/assets/utilisateur.png" alt="Icône utilisateur"
                        aria-label="Voir le profil de l'utilisateur" width="25" height="25" aria-hidden="true">
                </a>
            </div>
        </div>
    </nav>

    <a href="" class="text-decoration-none text-dark">
        <h1 class="text-center mt-4">Planète Magnifiée hommage à failure</h1>
        <div class="container">
            <div class="row g-0 mt-5">
                <div class="col-md-6">
                    <img src="/TD acessibilité 2eme/assets/2.jpg" class="img-fluid rounded-start"
                        alt="Image de l'album Planète Magnifiée" height="600" width="600">
                </div>
                <div class="col-md-6 mb-5">
                    <div class="card-body col-9 row justify-content-between">
                        <ul class="list-group list-group-flush d-flex align-self-sm-baseline">
                            <li class="list-group-item">Nom de l'album : Planète Magnifiée</li>
                            <li class="list-group-item">Type : Album</li>
                            <li class="list-group-item">Date de parution : 12 Décembre 2023</li>
                            <li class="list-group-item">
                                Tracklist : <span>01</span>-Illusionaut Hot Traveler <span>02</span>-Feral Beast - Headstand
                                <span>03</span>-Solaris - Wonderful Life <span>04</span>-Method of the W.O.R.M - Atom City
                                Queen <span>05</span>-dreDDup Distorted Fields <span>06</span>-MasaCritika - Frogs
                                <span>07</span>-Ryan Schlotterbeck - Counterfeit Sky <span>08</span>-Pharoes - Empty Friend
                                <span>09</span>-Superchained - Undone <span>10</span>-Savannah - Moth
                                <span>11</span>-Untitled With Drums - A.M. Amnesia <span>12</span>-Unman - The Focus
                                <span>13</span>-Helen 55 - Macaque <span>14</span>-Nick Hollow - What Makes It Easy
                                <span>15</span>-AD79 - Half Moon <span>16</span>-California Dogs - Princess Kaamosmasennus
                                - Bring Bac
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <div class="container">
        <div class="row">
            <h3 class="text-center">➖➖➖➖➖➖➖➖➖</h3>
            <div class="col-md-4 align-sm-baseline">
                <a href="" class="text-decoration-none text-dark">
                    <div class="card mt-5">
                        <div class="card-header">
                            1. Autres infos
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>La seconde partie de "Planète Magnifiée" la compilation hommage à FAILURE, qui est
                                    consacrée au chef d’œuvre du groupe "Fantastic Planet", est dès à présent disponible en
                                    digitale sur Bandcamp et YouTube
                                </p>
                                <footer class="blockquote-footer">
                                    <cite title="Source Title">
                                        <a class="text-black" href="https://youtu.be/R_dvr9mNYUg?si=WWSeQ4m9-hzD39OS"
                                            aria-label="Lien vers la vidéo sur YouTube">https://youtu.be/R_dvr9mNYUg?si=WWSeQ4m9-hzD39OS</a>
                                    </cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 align-sm-baseline">
                <a href="" class="text-decoration-none text-dark">
                    <div class="card mt-5">
                        <div class="card-header">
                            2. Autres infos
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>La seconde partie de "Planète Magnifiée" la compilation hommage à FAILURE, qui est
                                    consacrée au chef d’œuvre du groupe "Fantastic Planet", est dès à présent disponible en
                                    digitale sur Bandcamp et YouTube
                                </p>
                                <footer class="blockquote-footer">
                                    <cite title="Source Title">
                                        <a class="text-black" href="https://youtu.be/R_dvr9mNYUg?si=WWSeQ4m9-hzD39OS"
                                            aria-label="Lien vers la vidéo sur YouTube">https://youtu.be/R_dvr9mNYUg?si=WWSeQ4m9-hzD39OS</a>
                                    </cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 align-sm-baseline">
                <a href="" class="text-decoration-none text-dark">
                    <div class="card mt-5">
                        <div class="card-header">
                            3. Autres infos
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>La seconde partie de "Planète Magnifiée" la compilation hommage à FAILURE, qui est
                                    consacrée au chef d’œuvre du groupe "Fantastic Planet", est dès à présent disponible en
                                    digitale sur Bandcamp et YouTube
                                </p>
                                <footer class="blockquote-footer">
                                    <cite title="Source Title">
                                        <a class="text-black" href="https://youtu.be/R_dvr9mNYUg?si=WWSeQ4m9-hzD39OS"
                                            aria-label="Lien vers la vidéo sur YouTube">https://youtu.be/R_dvr9mNYUg?si=WWSeQ4m9-hzD39OS</a>
                                    </cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <footer class="bg-dark mt-5 pb-4 pt-5 ps-4">
        <a href="" class="text-reset">
            <h3 class="text-white">Spirit of <span class="rock-red">Rock</span></h3>
        </a>
    </footer>

</body>

</html>
